<html>
  <head> <title> Add a Story </title> </head>
  <h1 align="center" style="font-size:300%">Add a Story to your Account!</h1>
  
  <body bgcolor="#CEECF5">
    
  <body style="font-size:150%"> 
    <form method="POST">
    <table>
      <tr>
        <td> Title: </td>
        <td> <input type="text" name="Title"> </td>
      </tr> <tr>
        <td> Story: </td> 
        <td> <input type="text" name="Story"> </td>
      </tr> <tr>
        <td> <input type="submit" name="button" value="Submit"> </td>
      </tr>
    </table>
    </form>
  </body>
</html>
