{% extends "base.html" %}

{% block title %} DopeSQL | Log In {% endblock title%}

{% block body %}
    {%if problem %}
      <h3>{{problem}}</h3>
      
    {% endif %}

  Please Log In: <br>

    <form method = "POST">
      <table style="font-size:100%">
	<tr>
	  <td> Username: </td>
	  <td><input type="text" name="username"> </td>
	</tr>
	<tr>
    	  <td> Password: </td>
	  <td> <input type="password" name="password"> </td>
	</tr>
	<tr>
	  <td colspan='2'>
	  <input type="submit" name="button" value="login">
	  <input type="submit" name="button" value="cancel">
	  </td>
	</tr>
      </table>
    </form>

{% endblock body%}
