<html>
  <head> <title> Story Page </title> </head>
  <h1 align="center" style="font-size:300%">Stories</h1>

  <body bgcolor="#CEECF5">

  <body style="font-size:150%"> 
    {% for r in result %}

    <table>
      <tr> 
        <td style="font-size:150%">
          {{r[1]}} 
        </td> <td> 
          by {{r[2]}},  
        </td> <td> 
          {{r[4]}} 
        </td>
      </tr> <tr>
        <td colspan="3">
          {{r[0]}}
        </td> 
      </tr>
    </table>
    <br>

    {% endfor %}
    Next Story Starts Here
  </body>
</html>

